<h2><%= @house.name %></h2>

<div class="flex">
  <% @characters.each do |character| %>
    <div class="container">
      <p><%= link_to character.name, house_character_path(@house, character) %></p>
      <img class="small-photo" src="<%= character.photo_url %>">
    </div>
  <% end %>
</div>

<%= link_to "Add Character", new_house_character_path(@house) %>
