/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
}

header {
  background: black;
}

header img {
  height: 200px;
}

div a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(98, 59, 181);
}

a:hover {
  color: black;
}

span {
  font-size: 24px;
  color: black;
}

.sigil {
  width: 200px;
}

.small-photo {
  width: 200px;
}

.large-photo {
  width: 500px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.container {
  margin: 15px;
}
