<!DOCTYPE html>
<html>
  <head>
    <title>Game Of Thrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="http://www.wallpapermade.com/images/wallpapers/originals/game-of-thrones-4k-logo-alternative-wallpaper-6172.jpg">
    </header>
    <%= yield %>
  </body>
</html>
